!!!5
html
  head
    meta(charset="utf-8")
    meta(content="IE=edge, chrome=1", http-equiv="X-UA-Compatible")
    meta(name="keywords", content="")
    meta(name="description", content="")
    title= title
  body
    .container
      #header.clearfix
        #top.wp.clearfix
          h1#logo
            a(href="/") 我是logo
          ul#nav
      // /header
      #main.wp.clearfix
      // /main
      include foot
